$green: #237B4A;
$orange: #FF6B00;
$white: #fff;
$silver: #B3B1B1;
$blue: #1F91E2;
$light-blue: #50A7E5;
$black: #000;
$break-small: 600px;
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	core-scaffold {
		[tool] {
			width: 100%;
			.title {
				float: left;
			}
			.icons {
				float: right;
				height: 40px;
			}
		}
		.modal-content {
			padding: 10px;
			paper-input {
				&.title {
					width: 100%;
				}
			}
		}
		&::shadow core-drawer-panel {
			core-header-panel {
				core-toolbar {
					background-color: $green;
					color: $white;
					font-size: 26px;
				}
			}
		}
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		core-header-panel {
			.addstory {
				color: $silver;
				&:hover {
					color: $white;
					cursor: pointer;
					background: $orange;
					border-radius: 50%;
				}
				&::shadow #icon {
					width: 30px;
					height: 30px;
				}
			}
			core-toolbar {
				background-color: $green;
				color: $white;
				font-size: 26px;
			}
			core-menu {
				margin: 10px 0 0 0;
				core-item {
					background-color: $white;
					// transition-property: background-color, color;
					// 		transition-duration: 200ms;
					color: $black;
					&::shadow #icon {
						margin: 0 2px 0 4px;
					}
					&:hover {
						background-color: $orange;
						color: $white;
						cursor: pointer;
						// transition-property: background-color, color;
						// 		transition-duration: 200ms;
					}
				}
			}
		}
		.content {
			margin: 10px;
			padding: 10px;
			background-color: $white;
			border-radius: 5px;
			min-height: 500px;
			line-height: 18px;
			ul {
				//font-size: 0;
				li {
					font-size: 12px;
					display: inline-block;
				}
			}
		}
		paper-button {
			&.green {
				background-color: $green;
				color: $white;
			}
		}
		.bottom {
			position: fixed;
			bottom: 0;
			width: calc(100% - 256px);
			display: block;
			@media screen and (max-width:$break-small) {
				width: 100%;
			}
			.new-para {
				.bottom-left {
					float: left;
					width: calc(100% - 72px);
					textarea {
						display: block;
						border: none;
						height: 40px;
						font-size: 12px;
						width: 100%;
						padding: 2px 5px;
						resize: none;
					}
				}
				.bottom-right {
					text-align: center;
					width: 72px;
					height: 40px;
					float: left;
					background-color: $white;
					//color: $white;
					margin: 0;
					border-radius: 0;
					core-icon {
						height: 20px;
					}
					span {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						font-size: 20px;
					}
					&:hover {
						//background-color: $light-blue;
						cursor: pointer;
					}
				}
			}
		}
	}
}