<template name="alert">
    <div class="alert">
        {{alert}}
    </div>
    <!-- end .alert -->
</template>

<template name="signIn">
    <div class="sign-in" id="signIn">
        <fieldset class="sign-in-form" id="signInForm">
            <paper-input-decorator id="signInEmail" label="Email Address" floatinglabel layout vertical>
                <input is="core-input" class="email">
            </paper-input-decorator>
            <paper-input-decorator label="Password" floatingLabel id="signInPassword" layout vertical>
                <input is="core-input" type="password" class="password">
            </paper-input-decorator>
            <div class="center">
                <paper-button class="signin">
                    Sign In
                </paper-button>
            </div>
            <div class="center">
                <a class="show-signup" href="javascript:void(0);" id="showSignup">Register Account</a><span class="seperate"></span>
                <a class="show-forgot-password" href="javascript:void(0);" id="showForgotPassword">Forgot Password</a>
            </div>
        </fieldset>
    </div>
    <!-- end .sign-in -->
</template>

<template name="signOut">
    <div class="connected">
        <span class="welcome">Welcome New Meteorite!</span>
        <a class="sign-out" href="/" id="signOut">Sign Out</a>
    </div>
    <!-- end .connected -->
</template>

<template name="signUp">
    <div class="sign-up">
        <form action="/sign-up" class="sign-up-form" id="signUpForm" method="post">
            <input class="email" id="signUpEmail" name="email" placeholder="Email Address" type="text">
            <input class="password" id="signUpPassword" name="password" placeholder="Password" type="password">
            <input class="password-confirm" id="signUpPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password">
            <input class="btn-submit" type="submit" value="Join Meteorites!">
        </form>
    </div>
    <!-- end .sign-up -->
</template>

<template name="forgotPassword">
    <div class="forgot-password" id="forgotPassword">
        <paper-icon-button icon="arrow-back" id="returnToSignIn"></paper-icon-button>
        <paper-input-decorator id="forgotPasswordEmail" label="Email Address" floatinglabel layout vertical>
            <input is="core-input" class="email">
        </paper-input-decorator>
        <div class="center">
            <paper-button class="btn-submit">
                Send
            </paper-button>
        </div>
    </div>
    <!-- end .forgot-password -->
</template>

<template name="resetPassword">
    <div class="reset-password">
        <h2 class="headline">You're now saved, <span class="bold">follow the light!</span></h2>
        <h3 class="details">You just have to type and confirm  your new password to regain access to your dashboard.</h3>
        <form action="/reset-password" class="reset-password-form" id="resetPasswordForm" method="post">
            <input class="password" id="resetPasswordPassword" name="password" placeholder="Your New Password" type="password">
            <input class="password-confirm" id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm New Password" type="password">
            <input class="btn-submit" type="submit" value="Reset">
        </form>
    </div>
    <!-- end .reset-password -->
</template>
