$green: #4caf50;
$dark-green: #388E3C;
$darker-green: #2E7D32;
$orange: #ffbb33;
$white: #fff;
$silver: #B3B1B1;
$blue: #2196F3;
$light-blue: #03A9F4;
$black: #000;
$bodytext: #212121;
$border: #EBEBEB;
$paperline: #d9eaf3;
$light-grey: #F5F5F5;
$grey: #E0E0E0;
$darkgrey: #757575;
$red: #F44336;
$darkerred: #E53935;
$break-small: 600px;
$amber: #FFC107;
$font-medium: 1.8rem;
$font-small: 1.5rem;
$font-xsmall: 1.25rem;